default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: image_resizer_development

test:
  <<: *default
  database: image_resizer_test

production:
  <<: *default
  database: image_resizer_production
  username: image_resizer
